@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;700&display=swap');

/* 공통태그 */
*{
	margin : 0;
	padding : 0;
	font-family: 'Noto Serif KR', serif;
	color: #888888;	
}
body{
	background: #F9F5F2;
}
a{
	text-decoration: none;
}
del{
	color: #999999;
	font-size: 15px;
}
.price{
	color: red;
}
.divide-line{
	width: 100%;
	height: 2px;
	background-color: pink;
}
.container{
	width: 1280px;
	margin: 120px auto 0;
}
.flex-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.marginTop180{
	margin-top: 180px;
}
.marginTop100{
	margin-top: 100px;
}
.marginTop50{
	margin-top: 50px;
}
.marginTop30{
	margin-top: 30px;
}
.marginTop20{
	margin-top: 20px;
}
.marginTop10{
	margin-top: 10px;
}
.style-btn{
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	background-color: pink;
	font-size: 16px;
	transition: all linear 0.2s;
}
.style-btn:hover{
	cursor: pointer;
	background-color: #888888;
	color: pink;
}
.font-line{
	display: block;
	width: 8%;
	height: 5px;
	background-color: #d5d5d5;
	margin-bottom: 10px;
}
input, select, textarea{
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	transition: all linear 0.1s;
}
input:focus, textarea:focus{
	outline: none !important;
	border-bottom: 2px solid pink;
}
.pmBtn{
	display: grid;
	place-items: center;
	margin: 0 10px;
	padding: 2px;
	border: 1px solid #888888;
	background-color: whitesmoke;
	transition: all linear 0.2s;
	cursor: pointer;
}
.pmBtn:hover{
	background-color: #888888;
}

.addBtn{
	position:absolute;
	top: 40px;
	right: 0;
	display: flex;
	padding: 5px;
	border-radius: 4px;
	transition: all linear 0.2s;
}
.addBtn:hover{
	background-color: #888888;
}
.addBtn img{
	width: 30px;
	height: 30px;
}

/* 텍스트만 있는 리스트 */
[class*='list-wrapper']{
	position: relative;
	width: 100%;
	text-align: center;
}
.list-item{
	display: grid;
	place-items: center;
	width: 100%;
	padding : 10px 0;
	border-bottom: 1px solid #999999;
}
.list-item img{
	height: 50px;
	object-fit: contain;
}
.list-item .product-info:hover{
		cursor: pointer;
}
.list-item .product-info:hover > div{
	text-decoration: underline;

}

.list-wrapperql .list-item{
	grid-template-columns: 20% 20% 20% 20% 20%;
}
.list-wrapperod .list-item{
	grid-template-columns: 10% 10% 15% 10% 15% 10% 10% 10% 10%;
}
.list-wrapper3 .list-item{
	grid-template-columns: 30% 30% 40%;
}
.list-wrapper5 .list-item{
	grid-template-columns: 30% 30% 30% 5% 5%;
}
.list-wrapper6 .list-item{
	grid-template-columns: 10% 10% 20% 40% 10% 10%;
}
.list-wrapper6-2 .list-item{
	grid-template-columns: 10% 25% 30% 15% 10% 10%;
}
.list-wrapper9 .list-item{
	grid-template-columns: 10% 15% 10% 10% 10% 10% 15% 15% 5%;
}
.list-wrapper10 .list-item{
	grid-template-columns: 10% 10% 20% 15% 10% 7% 7% 10% 5% 5%;
}

.hovered:hover {
	background-color: #FFDAE4; /* 커서가 닿았을 때 background 색 변함 */
	cursor: pointer;
	transition: all linear 0.2s;
}

[class*='list-wrapper'] > .list-item:first-of-type {
	border-top: 2px solid pink;
	font-weight: bold;	
	font-size: 18px;
}
.list-item select{
	border-radius: 4px;
	padding: 3px;
	transition: all linear 0.2s;
}
.list-item select:hover{
	cursor: pointer;
}
.list-item input:not([type="checkbox"]){
	width: 100%;
	border-radius: 4px;
	border: 1px solid whitesmoke;
	background: #F9F5F2;
	padding: 5px;
}

/* 페이지네이션 부분 */
.pagination{
	align-items: center;
	width: 600px;
	margin: 20px auto 0;	
}
.pageBtn{
	display: grid;
	place-items: center;
	font-size: 16px;
	color: thistle;
	transition: all linear 0.2s;
}
.pageBtn+.pageBtn{
	margin-left: 10px;
}
.pageBtn:hover{
	color: #AD8EDB;
}
.page{
	display:flex;
}
.page a+a{
	margin-left: 10px;
}
.page a{
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	font-size: 14px;
	color: #999999;
	transition: all linear 0.2s;
}
.page a:hover{
	font-size: 18px;
}
.page .selected{
	font-weight: 700;
	font-size: 18px;
}

/* form-list 부분 */
.form-list{
	width: 100%;
	font-size: 18px;
}
.form-list > div{
	display: grid;
	grid-template-columns: 20% 80%;
	padding: 10px 0;
	border-bottom: 1px solid #d5d5d5;
}
.form-list .product-info:hover{
		cursor: pointer;
}
.form-list .product-info:hover > div{
	text-decoration: underline;
}
/* 상품 리스트 부분 */
.product-list{
	width: 1150px;
	margin: 0px auto;
	padding: 50px 0;
	text-align: center;
}
.product-list .products{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	flex-wrap: wrap;
	margin-top: 20px;
}
.product-list .products > div{
	width: 250px;
	border-radius: 4px;
	border: 2px solid silver;
	margin-top: 30px;
	padding: 3px;
	transition: all linear 0.2s;
}
.product-list .products > div:hover{
	cursor: pointer;
	border: 2px solid pink;
}
.product-list .products > div > img{
	position: relative;
	width: 220px;
	height: 170px;
	margin: 10px;
}
.product-list .products > div > .content{
	margin: 20px;
	font-size: 18px;
}

/* 메인메뉴 부분 */
.main-menu-container{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background: #F9F5F2;
}
.main-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	height: 100px;
	margin: 0 auto;
}
.main-menu nav a{
	font-size: 18px;
	transition: all linear 0.2s;
}
.main-menu nav a:hover{
	font-weight: bold;
	cursor: pointer;
}
.main-menu nav a + a{
	margin-left: 25px;
}
.icons img{
	width: 35px;
	height: 35px;
	border-radius: 4px;
	padding: 5px;
	transition: all linear 0.2s;
}
.icons a + a{
	margin-left: 10px;
}
.icons img:hover{
	background-color: darkgray;
	cursor: pointer
}

/* 이미지 슬라이드 부분 */
.image-slide{
	overflow: hidden;
	position:relative;
	width: 100%;
	height: 426.5px;
	margin: 120px auto 0;
}
.image-slide .images{
	display: flex;
	width: 300%;
	height: inherit;
}
.image-slide .images li{
	position: relative;
	width: 100%;
	list-style: none;
}
.image-slide .images li .comment{
	position: absolute;
	width:	700px;
	background-color: rgba(0, 0, 0, 0);
	color: dimgray;
	font-size: 25px;
	font-weight: 700;
	text-align: left;
}
.image-slide .images .main1{
	background-color: RGB(247, 229, 229);
}
.image-slide .images .main1 .comment{
	top: 70%;
	left: calc(55% - 350px);
}

.image-slide .images .main2{
	background-color: #bdbdbd;
}
.image-slide .images .main2 .comment{
	top: 12%;
	left: calc(50% - 350px);
	text-align: center;
}
.image-slide .images .main3{
	background-color: #e6ded3;
}
.image-slide .images .main3 .comment{
	top: 80%;
	left: calc(50% - 350px);
	text-align: center;
}
.image-slide .images li img{
	position: absolute;
	left: calc(50% - 320px);
	width: 640px;
	height: 426.5px;
}
.image-slide .images li .comment span{
	font-size: 18px;
	font-weight: normal;
	background-color: rgba(0, 0, 0, 0);
}

/* deco */
.down-arrow{
	margin: 40px;
	text-align: center;
}
.down-arrow img{
	width: 35px;
	height: 35px;
}

/* cart modal */
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.modal-container .modal{
	position: absolute;
	top: calc(50% - 160px);
	left: calc(50% - 225px);
	width: 450px;
	height: 320px;
	padding: 20px;
	background-color: #F9F5F2;
	text-align: center;
	box-shadow: 5px 10px 10px 1px rgba(0,0,0,0.3); 
}
.modal-container .modal #addressList{
	overflow-y: auto;
	height: 230px;
	padding: 10px 0;
}
.modal-container .modal #addressList > div{
	display: grid;
	grid-template-columns: 50% 20% 12% 12%;
	place-items: center;
	padding: 5px 0;
	border-bottom: 1px solid #d5d5d5;
}
.modal-container .modal .closeBtn{
	position: absolute;
	top: 20px;
	right: 20px;
	display: grid;
	place-items: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px;
	transition: all linear 0.2s;
}
.modal-container .modal .closeBtn:hover{
	background-color: #999999;
}
.modal-container .modal button img{
	width: 22px;
	height: 22px;
}
.modal-container .modal .modal-body{
	display: flex;
	justify-content: space-around;
}
.modal-container .modal .product-img{
	height: 150px;
}
.modal-container .modal .modal-content{
	width: 40%;
	padding: 20px;
}
.modal-container .modal .modal-content div{
	margin-top: 10px;
}
.modal-container .modal .cartBtn{
	display: grid;
	place-items: center;
	width: 49%;
	padding: 5px 0;
	border: none;
	border-radius: 4px;
	background-color: pink;
	font-size: 16px;
	transition: all linear 0.2s;
}
.modal-container .modal .cartBtn:hover{
	cursor: pointer;
	background-color: #888888;
	color: pink;
}
.modal-container .modal .cnt-wrapper{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    margin: 0 auto;
}
.modal-container .modal .pmBtn{
	display: grid;
	place-items: center;
	margin: 0 10px;
	padding: 2px;
	border: 1px solid #888888;
	background-color: whitesmoke;
	transition: all linear 0.2s;
	cursor: pointer;
}
.modal-container .modal .pmBtn:hover{
	background-color: #888888;
}
.modal-container .modal .pmBtn img{
	width: 10px;
	height: 10px;
}
.modal-container .modal #cartCnt{
	display: grid;
	place-items: center;
	margin: 0;
}
.modal-container .modal .empty{
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 100px);
	display: grid;
	place-items: center;
	width: 200px;
	height: 30px;
	text-align: center;
}

/*상품상세 페이지*/
#product-container{
	display: none;
}
.productOrder {
	display: flex;
	height : 500px;
	margin-top: 200px;
	margin-bottom: 100px;
}
.productInfo {
	position: relative;
	height : 1200px;
}
.productReview {
	position: relative;
	height : 500px;
}
.productQna {
	position: relative;
	height : 800px;
}
.product-toQ{
	display: block;
	text-align: left;
}
.productNavbar {
	width: 1280px;
	height: 80px;
	display: flex;
	margin: 0 auto;
}
.productNavbar button{
	width: 426px;
	height: 80px;
	padding: 2px;
	background: #f9f6f2;
	font-size: 18px;
	border: none;
	transition: all linear 0.2s;
}
.productNavbar button:hover {
	background: #f7e5e5;
}
.detailCate{
	font-size: 35px;
	text-align: left;
	margin-bottom: 10px;
}
.detailName h1{
	font-size: 70px;
	text-align: center;
	margin-bottom: 20px;
	color: #f1c3c7;
}
.productImg img{
	width: 300px;
	display: block;
  	margin: 0 auto;
}
.navbar-wrapper {
	width: 100%;
	background: #f9f6f2;
	position: fixed;
	z-index: 1;
	top : 82px;
	display: none;
	left:0;
	position: static;
	border-top: 1px solid #999;
}	
.navbar-wrapper.fixed {
 	position: fixed;
	top: 100px;
	display: block;
	border: none;
}
.navbar-wrapper:not(.fixed) {
	position: static;
	display: block;
}
#toDetail.active,
#toReview.active,
#toQna.active {
  	background: #f7e5e5;
}
.btn-wrapper {
	display: flex;
    align-items: center;
}
.btn-wrapper input {
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100px;
}
.btn-wrapper .pmBtn img{
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px;
	margin-left: 20px;	
	margin-right: 20px;	
}
.productRight .btn-wrapper{
	display: flex;
}
.productLeft{
	display: flex;
 	justify-content: center;	
  	align-items: center;
	width: 700px;
	flex: 0 0 auto;
	margin-right: 100px;
}
.productLeft img{
	border: 1px solid #D2D3D3;
	box-shadow: 5px 10px 10px 1px rgba(0,0,0,0.3); 
	object-fit: contain;
	width: 700px;
    height: 500px;
    padding: 20px;
}
.productRight{
	padding: 10px;
	width: 480px;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}
.productRight .deco-line{
	width: 100%;
	height: 5px;
	background-color: #EB4646;
	margin-top: 10px;
	margin-bottom: 20px;
}
.productRight .flex-wrapper{
	height: 30px;	
}
.productRight .divide-line{
	background-color: #D2D3D3;
}
.totalPrice-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
	height: 30px;
}
.totalPrice-wrapper div{
	color: #EB4646;
}
.productName{
	height: 100px;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	padding: 0;
	color: #000;
}
.product-addinfo{
	height: 70px;
}
.info{
	font-size: 15px;
	margin-left: 40px;
}
.title{
	font-weight: bold;
}
.productDc{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	height: 100px;
}
.priceDc{
	font-size: 20px;
	color: #444;
}
.productDc del{
	font-size: 20px;
}
.orderCartBtn{
	border: 1px solid #EB4646;
	background-color: white;
	padding: 10px;
	width: 170px;
	text-align: center;
	color: #999;
	transition: all linear 0.2s;
}
.orderCartBtn:hover{
	cursor: pointer;
	background-color: #222;
}
.orderCartBtn:hover a{
	color: #F9F5F2;
}
.productDetail{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

/* order 파트별 */
.order-info{
	padding: 10px;
}
.order-info img{
	width: 180px;
}
.order-info > div+div{
	margin-top: 20px;
}
.order-info .order-form{
	display: grid;
	place-items: center;
	grid-template-columns: 20% 15% 15% 15% 15% 15%;
	width: 1050px;
	padding: 7px 0;
	border-top: 1px solid #d5d5d5;
	text-align: center;
}
.order-info .order-form + .order-form{
	padding: 20px 0;
}

/* 마이페이지 */
.my-page > div:nth-child(1){
	width: 75%;
}
.my-page .rankImg{
	display: grid;
	place-items: center;
}
.my-page .rankImg img{
	width: 270px;
}

/* 로그인 */
.login-form{
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
.login-form input{
	width: 90%;
	margin: 10px 0;
	padding: 10px;
	font-size: 18px;
}
.login-form .style-btn{
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	font-weight: bold;
}




/*  footer */
footer{
	position:relative;
	z-index: 1;
}
.border-t {
  border-top-width: 1px;
}

.border-gray-3 {
  border-color: #888888;
}

.bg-white {
  background-color: #ffffff;
}

.p-5 {
  padding: 20px;
}

.lg\:px-0 {
  padding-left: 0;
  padding-right: 0;
}

.lg\:py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.undefined {
  width: unset;
}

.max-w-5xl {
  max-width: 1280px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.gap-5 {
  gap: 1.25rem;
}

ul.flex {
  display: flex;
  gap: 18px;
}

ul.flex li {
  display: inline;
}

.text-body3 {
  font-size: 0.875rem;
}

.text-gray-2 {
  color: #888888;
}

.hover\:text-gray-1:hover {
  color: #000000;
}

.flex.flex-col.gap-25 {
  gap: 0.625rem;
}

.flex.flex-col.gap-25 > a {
	width: 3px;
}

.text-body3.lg\:text-body2.text-navy {
  font-size: 0.875rem;
  color: pink;
}

.text-h2.text-navy {
  font-size: 2rem;
  color: pink;
}

.hidden {
  display: none;
}

.flex-col.justify-between.lg\:flex {
  flex-direction: column;
  justify-content: space-between;
}

.h-4 {
  height: 1rem;
}

.h-8 {
  height: 2rem;
}

.container {
  margin-top: -10px;
  margin-bottom: -10px;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-xs text-gray-2 p {
  margin-bottom: 10px;
}

.w-8 {
  width: 20px;
  height: 20px;
  padding: 20px;
}

.h-5 {
  height: 1.25rem;
}

/* 댓글 부분 */
#answerForm > #answer + div{
	display: flex;
    flex-direction: column;
	width: 850px;
	text-align: right;
}
#answerForm > #answer + div > div{
	display: flex;
	justify-content: flex-end;
}
#answerForm > #answer + div > div div+div{
	margin-left: 10px;
}
#answerForm > #answer + div > div button:first-child{
	margin-right: 10px;
}