@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;700&display=swap');

/* 공통태그 */
*{
	margin : 0;
	padding : 0;
	font-family: 'Noto Serif KR', serif;
	color: #888888;	
}
body{
	background: #F9F5F2;
}
a{
	text-decoration: none;
}
del{
	color: #999999;
	font-size: 15px;
}
.price{
	color: red;
}
.divide-line{
	width: 100%;
	height: 2px;
	background-color: pink;
}
.container{
	width: 1280px;
	margin: 120px auto 0;
}
.flex-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.marginTop300{
	margin-top: 300px;
}
.marginTop100{
	margin-top: 100px;
}
.marginTop50{
	margin-top: 50px;
}
.marginTop20{
	margin-top: 20px;
}
.marginTop30{
	margin-top: 30px;
}

/* 텍스트만 있는 리스트 */
[class*='list-wrapper']{
	width: 100%;
	text-align: center;
}
.list-item{
	display: grid;
	place-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999999;
}

.list-wrapperql .list-item{
	grid-template-columns: 20% 20% 20% 20% 20%;
}
.list-wrapperod .list-item{
	grid-template-columns: 10% 10% 15% 10% 15% 10% 10% 10% 10%;
}
.list-wrapper3 .list-item{
	grid-template-columns: 30% 30% 40%;
}
.list-wrapper5 .list-item{
	grid-template-columns: 30% 30% 30% 5% 5%;
}
.list-wrapper6 .list-item{
	grid-template-columns: 10% 10% 20% 40% 10% 10%;
}
.list-wrapper6-2 .list-item{
	grid-template-columns: 10% 10% 40% 20% 10% 10%;
}
.list-wrapper9 .list-item{
	grid-template-columns: 10% 20% 15% 10% 10% 10% 15% 5% 5%;
}
.list-wrapper10 .list-item{
	grid-template-columns: 10% 10% 10% 15% 10% 10% 10% 15% 5% 5%;
}

.hovered:hover {
	background-color: #FFDAE4; /* 커서가 닿았을 때 background 색 변함 */
	cursor: pointer;
	transition: all linear 0.2s;
}

[class*='list-wrapper'] > .list-item:first-of-type {
	border-top: 2px solid pink;
	font-weight: bold;	
	font-size: 18px;
}
.list-item a, .list-item button{
	display: grid;
	place-items: center;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	background-color: pink;
	font-size: 16px;
	transition: all linear 0.2s;
}
.list-item a:hover, .list-item button:hover{
	cursor: pointer;
	background-color: #888888;
	color: pink;
}
.list-item select{
	border-radius: 4px;
	padding: 3px;
	transition: all linear 0.2s;
}
.list-item select:hover{
	cursor: pointer;
}
.list-item input{
	width: 100%;
	border-radius: 4px;
	border: 1px solid whitesmoke;
	background: #F9F5F2;
	padding: 5px;
}

/* 페이지네이션 부분 */
.pagination{
	align-items: center;
	width: 500px;
	margin: 20px auto 0;	
}
.pageBtn{
	display: grid;
	place-items: center;
	font-size: 16px;
	color: thistle;
	transition: all linear 0.2s;
}
.pageBtn:hover{
	color: #AD8EDB;
}
.page{
	display:flex;
}
.page a+a{
	margin-left: 10px;
}
.page a{
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	font-size: 14px;
	color: #999999;
	transition: all linear 0.2s;
}
.page a:hover{
	font-size: 18px;
}
.page .selected{
	font-weight: 700;
	font-size: 18px;
}

/* 상품 리스트 부분 */
.product-list{
	width: 1150px;
	margin: 0px auto;
	padding: 50px 0;
	text-align: center;
}
.product-list .products{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}
.product-list .products > div{
	width: 250px;
	border-radius: 4px;
	border: 2px solid silver;
	margin-top: 30px;
	padding: 3px;
}
.product-list .products > div > img{
	position: relative;
	width: 220px;
	height: 170px;
	margin: 10px;
}
.product-list .products > div > .content{
	margin: 20px;
	font-size: 18px;
}

/* 메인메뉴 부분 */
.main-menu-container{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background: #F9F5F2;
}
.main-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	height: 100px;
	margin: 0 auto;
}
.main-menu nav a{
	font-size: 18px;
	transition: all linear 0.2s;
}
.main-menu nav a:hover{
	font-weight: bold;
	cursor: pointer;
}
.main-menu nav a + a{
	margin-left: 25px;
}
.icons img{
	width: 35px;
	height: 35px;
	border-radius: 4px;
	padding: 5px;
	transition: all linear 0.2s;
}
.icons a + a{
	margin-left: 10px;
}
.icons img:hover{
	background-color: darkgray;
	cursor: pointer
}

/* 이미지 슬라이드 부분 */
.image-slide{
	overflow: hidden;
	position:relative;
	width: 100%;
	height: 426.5px;
	margin: 120px auto 0;
}
.image-slide .images{
	display: flex;
	width: 300%;
	height: inherit;
}
.image-slide .images li{
	position: relative;
	width: 100%;
	list-style: none;
}
.image-slide .images li .comment{
	position: absolute;
	width:	700px;
	background-color: rgba(0, 0, 0, 0);
	color: dimgray;
	font-size: 25px;
	font-weight: 700;
	text-align: left;
}
.image-slide .images .main1{
	background-color: RGB(247, 229, 229);
}
.image-slide .images .main1 .comment{
	top: 70%;
	left: calc(55% - 350px);
}

.image-slide .images .main2{
	background-color: #bdbdbd;
}
.image-slide .images .main2 .comment{
	top: 12%;
	left: calc(50% - 350px);
	text-align: center;
}
.image-slide .images .main3{
	background-color: #e6ded3;
}
.image-slide .images .main3 .comment{
	top: 80%;
	left: calc(50% - 350px);
	text-align: center;
}
.image-slide .images li img{
	position: absolute;
	left: calc(50% - 320px);
	width: 640px;
	height: 426.5px;
}
.image-slide .images li .comment span{
	font-size: 18px;
	font-weight: normal;
	background-color: rgba(0, 0, 0, 0);
}

/* deco */
.down-arrow{
	margin: 40px;
	text-align: center;
}
.down-arrow img{
	width: 35px;
	height: 35px;
}

/* cart modal */
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.modal-container .modal{
	position: absolute;
	top: calc(50% - 160px);
	left: calc(50% - 225px);
	width: 450px;
	height: 320px;
	padding: 20px;
	background-color: #F9F5F2;
	text-align: center;
	box-shadow: 5px 10px 10px 1px rgba(0,0,0,0.3); 
}
.modal-container .modal .closeBtn{
	position: absolute;
	top: 20px;
	right: 20px;
	display: grid;
	place-items: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px;
	transition: all linear 0.2s;
}
.modal-container .modal .closeBtn:hover{
	background-color: #999999;
}
.modal-container .modal button img{
	width: 22px;
	height: 22px;
}
.modal-container .modal .product-img{
	width: 200px;
}
.modal-container .modal .modal-content{
	width: 40%;
	padding: 20px;
}
.modal-container .modal .modal-content div{
	margin-top: 10px;
}
.modal-container .modal .cartBtn{
	display: grid;
	place-items: center;
	width: 49%;
	padding: 5px 0;
	border: none;
	border-radius: 4px;
	background-color: pink;
	font-size: 16px;
	transition: all linear 0.2s;
}
.modal-container .modal .cartBtn:hover{
	cursor: pointer;
	background-color: #888888;
	color: pink;
}
.modal-container .modal .cnt-wrapper{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    margin: 0 auto;
}
.modal-container .modal .pmBtn{
	display: grid;
	place-items: center;
	margin: 0 10px;
	padding: 2px;
	border: 1px solid #888888;
	background-color: whitesmoke;
	transition: all linear 0.2s;
	cursor: pointer;
}
.modal-container .modal .pmBtn:hover{
	background-color: #888888;
}
.modal-container .modal .pmBtn img{
	width: 10px;
	height: 10px;
}
.modal-container .modal #cartCnt{
	display: grid;
	place-items: center;
	margin: 0;
}
.modal-container .modal .empty{
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 100px);
	display: grid;
	place-items: center;
	width: 200px;
	height: 30px;
	text-align: center;
}

/*상품상세 페이지*/
.productOrder {
	position: relative;
	height : calc(100vh - 100px);
}
.productInfo {
	position: relative;
	height : 1700px;
}
.productReview {
	position: relative;
	height : 700px;
}
.productQna {
	position: relative;
	height : 900px;
}
.productNavbar {
	width: 1280px;
	height: 80px;
	display: flex;
	margin: 0 auto;
}
.productNavbar button{
	width: 426px;
	height: 80px;
	padding: 2px;
	background: #f9f6f2;
	border: none;
	font-size: 18px;
  	padding: 10px 20px;
}
.productNavbar button:hover {
	background: #f7e5e5;
}
.marginTop300 h1{
	font-size: 70px;
	text-align: center;
	margin-bottom: 20px;
	color: #f1c3c7;
}
.marginTop300 h2{
	font-size: 35px;
	text-align: left;
	margin-bottom: 10px;
}
.detailName h1{
	font-size: 70px;
	text-align: center;
	margin-bottom: 20px;
	color: #f1c3c7;
}
.font-line{
	display: block;
	width: 8%;
	height: 5px;
	background-color: #d5d5d5;
	margin-bottom: 10px;
}
.productImg {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.navbar-wrapper {
	width: 100%;
	background: #f9f6f2;
	position: fixed;
	z-index: 1;
	top : 82px;
	display: none;
	left:0;
	position: static;
}	
.navbar-wrapper.fixed {
  position: fixed;
  top: 100px;
  display: block;
}
.navbar-wrapper:not(.fixed) {
  position: static;
  display: block;
}
#toDetail.active {
  background: #f7e5e5;
}

#toReview.active {
  background: #f7e5e5;
}

#toQna.active {
  background: #f7e5e5;
}